.overline {
  padding-bottom: var(--space-sm);
}

.headline {
  padding-bottom: var(--space-x-big);
}

.paragraph {
  padding-bottom: var(--space-lg);
  word-wrap: break-word;
  width: 80%;
}

.noPaddingBottom {
  padding-bottom: 0;
}

/* Medium Screen */
@media only screen and (min-width: 600px) and (max-width: 1135px) {
  .overline {
    padding-bottom: calc(var(--space-sm) - var(--space-xx-sm));
  }

  .headline {
    padding-bottom: calc(var(--space-x-big) - var(--space-xx-sm));
  }

  .paragraph {
    padding-bottom: calc(var(--space-lg) - var(--space-x-sm));
  }
}

/* Small Screen */
@media only screen and (min-width: 320px) and (max-width: 599px) {
  .overline {
    padding-bottom: calc(var(--space-sm) - var(--space-x-sm));
  }

  .headline {
    padding-bottom: calc(var(--space-x-big) - var(--space-x-sm));
  }

  .paragraph {
    padding-bottom: calc(var(--space-lg) - var(--space-x-sm));
  }
}
