.container {
  margin: 0px var(--layout-grid-lg);
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.container.flexRow {
  flex-direction: row;
}

.container.flexColumn {
  flex-direction: column;
}

.container.flexStart {
  justify-content: flex-start;
}

.container.flexEnd {
  justify-content: flex-end;
}

.container.center {
  justify-content: center;
}

.container.spaceBetween {
  justify-content: space-between;
}

/* Medium Screen */
@media only screen and (min-width: 600px) and (max-width: 1135px) {
  .container {
    margin: 0px var(--layout-grid-md);
  }
}

/* Small Screen */
@media only screen and (min-width: 320px) and (max-width: 599px) {
  .container {
    margin: 0px var(--layout-grid-sm);
  }
}
