/* Reset HTML default styles */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

a[href^="tel:"],
a[href^="mailto:"] {
  color: inherit;
  text-decoration: none;
}

/* CSS Styles goes here */
@import "./variables.css";

html,
body {
  font-family: var(--font-primary);
  font-weight: 500;
  color: var(--color-oxford-brown);
  background: var(--color-lynx-white);
}

/* -------------------------------- 
  Typography
  -------------------------------- */
/* Letter Spacing & Line Height */
h1,
h2,
h3,
h4,
h5,
h6,
.label-responsive,
.label-lg,
.label-md,
.label-sm {
  letter-spacing: var(--font-letter-spacing-lg);
  line-height: var(--font-heading-line-height);
}

/* Letter Spacing & Line Height */
.paragraph-lg,
.paragraph-md,
.paragraph-sm,
.paragraph-x-sm,
.overline-responsive,
.overline-lg,
.overline-sm {
  letter-spacing: var(--font-letter-spacing-sm);
  line-height: var(--font-body-line-height);
}

/* Text Alignment */
.text-align-left {
  text-align: left;
}

.text-align-center {
  text-align: center;
}

.text-align-right {
  text-align: right;
}

/* Overline */
.overline-responsive,
.overline-lg,
.overline-sm {
  font-weight: 500;
  text-transform: uppercase;
}

/* Display Large */
.display-lg {
  font-size: var(--font-display-lg);
  font-weight: 700;
}

/* Display Medium */
.display-md {
  font-size: var(--font-display-md);
  font-weight: 700;
}

/* Display Small */
.display-sm {
  font-size: var(--font-display-sm);
  font-weight: 700;
}

/* Heading H1 */
h1 {
  font-size: var(--font-heading-h1);
  font-weight: 700;
}

/* Heading H2 */
h2 {
  font-size: var(--font-heading-h2);
  font-weight: 700;
}

/* Heading H3 */
h3 {
  font-size: var(--font-heading-h3);
  font-weight: 700;
}

/* Heading H4 */
h4 {
  font-size: var(--font-heading-h4);
  font-weight: 700;
}

/* Heading H5 */
h5 {
  font-size: var(--font-heading-h5);
  font-weight: 700;
}

/* Heading H6 */
h6 {
  font-size: var(--font-heading-h6);
  font-weight: 700;
}

/* Paragraphs Large */
.paragraph-lg {
  font-size: var(--font-text-lg);
  font-weight: 400;
}

/* Paragraphs Medium */
.paragraph-md {
  font-size: var(--font-text-md);
  font-weight: 400;
}

/* Paragraphs Small */
.paragraph-sm {
  font-size: var(--font-text-sm);
  font-weight: 400;
}

/* Paragraphs XSmall */
.paragraph-x-sm {
  font-size: var(--font-text-x-sm);
  font-weight: 400;
}

/* Overline Large */
.overline-lg {
  font-size: var(--font-text-sm);
}

/* Overline Small */
.overline-sm {
  font-size: var(--font-text-x-sm);
}

/* Label Large */
.label-lg {
  font-size: var(--font-text-lg);
  font-weight: 500;
}

/* Label Medium */
.label-md {
  font-size: var(--font-text-md);
  font-weight: 500;
}

/* Label Small */
.label-sm {
  font-size: var(--font-text-sm);
  font-weight: 500;
}

/* -------------------------------- 
  Dividers
  -------------------------------- */
hr,
.divider-sm,
.divider-md,
.divider-lg {
  width: 100%;
  margin-top: 16px;
  border-radius: var(--border-radius-sm);
}

/* Divider Small */
.divider-sm {
  border: var(--divider-sm);
}

/* Divider Medium */
.divider-md {
  border: var(--divider-md);
}

/* Divider Large */
.divider-lg {
  border: var(--divider-lg);
}

/* -------------------------------- 
  Background Blur
  -------------------------------- */
/* Background Blur */
.bg-blur-sm {
  -webkit-backdrop-filter: var(--blur-sm);
  backdrop-filter: var(--blur-sm);
}

.bg-blur-md {
  -webkit-backdrop-filter: var(--blur-md);
  backdrop-filter: var(--blur-md);
}

.bg-blur-lg {
  -webkit-backdrop-filter: var(--blur-lg);
  backdrop-filter: var(--blur-lg);
}

.bg-blur-x-lg {
  -webkit-backdrop-filter: var(--blur-x-lg);
  backdrop-filter: var(--blur-x-lg);
}

/* -------------------------------- 
  Responsive
  -------------------------------- */
/* Large Screen */
@media only screen and (min-width: 1136px) {
  /* Margin Large | Responsive */
  .margin-responsive {
    margin: 0px var(--layout-grid-lg);
  }

  /* Padding Large | Responsive */
  .padding-responsive {
    padding: var(--space-xx-lg) 0;
  }

  /* Label Large | Responsive */
  .label-responsive {
    font-size: var(--font-text-lg);
    font-weight: 500;
  }

  /* Overline Large | Responsive */
  .overline-responsive {
    font-size: var(--font-text-sm);
  }
}

/* Medium Screen */
@media only screen and (min-width: 600px) and (max-width: 1135px) {
  /* Margin Medium | Responsive */
  .margin-responsive {
    margin: 0px var(--layout-grid-md);
  }

  /* Padding Medium | Responsive */
  .padding-responsive {
    padding: var(--space-x-lg) 0;
  }

  /* Overline Small | Responsive */
  .overline-responsive {
    font-size: var(--font-text-x-sm);
  }

  /* Label Medium | Responsive */
  .label-responsive {
    font-size: var(--font-text-md);
    font-weight: 500;
  }
}

/* Small Screen */
@media only screen and (min-width: 320px) and (max-width: 599px) {
  /* Margin Small | Responsive */
  .margin-responsive {
    margin: 0px var(--layout-grid-sm);
  }

  /* Padding Small | Responsive */
  .padding-responsive {
    padding: var(--space-xxx-big) 0;
  }

  /* Label Small | Responsive */
  .label-responsive {
    font-size: var(--font-text-sm);
    font-weight: 500;
  }

  /* Overline Small | Responsive */
  .overline-responsive {
    font-size: var(--font-text-x-sm);
  }
}
