.headline {
  padding-top: 28px;
}

.locationList {
  padding-top: 32px;

  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: var(--space-x-lg);
  grid-row-gap: var(--space-md);
}

/* Medium Screen */
/* @media only screen and (min-width: 600px) and (max-width: 1135px) {
} */

/* Small Screen - Mobile */
@media only screen and (min-width: 320px) and (max-width: 599px) {
  .locationList {
    grid-template-columns: repeat(1, 1fr);
  }
}
