/* Large Button | Default */
.button {
  display: inline-block;
  text-align: center;
  border-radius: var(--border-radius-x-lg);
  border: none;
  cursor: pointer;

  user-select: none;
  padding: var(--space-big) var(--space-xxx-big);

  /* Ripple Effect */
  background-position: center;
  transition: background 0.5s;
}

/* Primary Button */
.primaryButton {
  color: var(--color-lynx-white);
  background: var(--color-gold-taffeta);
}

/* Secondary Button */
.secondaryButton {
  color: var(--color-gold-taffeta);
  background: none;
  border: 2px solid var(--color-gold-taffeta);
}

/* Primary Button Hover */
.primaryButton:hover {
  background: var(--color-button-hover)
    radial-gradient(circle, transparent 1%, var(--color-button-hover) 1%)
    center/15000%;
  /* color: var(--color-gold-taffeta); */
}

/* Secondary Button Hover */
.secondaryButton:hover {
  background: var(--color-button-hover)
    radial-gradient(circle, transparent 1%, var(--color-button-hover) 1%)
    center/15000%;

  border-color: var(--color-button-hover);
  color: var(--color-lynx-white);
}

.primaryButton:active,
.secondaryButton:active {
  background-color: var(--color-gold-taffeta);
  background-size: 100%;
  transition: background 0s;
}

/* Medium Screen */
@media only screen and (min-width: 600px) and (max-width: 1135px) {
  /* Medium Button */
  .button {
    padding: var(--space-sm) var(--space-xxx-big);
  }
}

/* Small Screen - Mobile */
@media only screen and (min-width: 320px) and (max-width: 599px) {
  /* Small Button */
  .button {
    padding: var(--space-x-sm) var(--space-x-big);
  }
}
