.toggleMenuBtn {
  border: 0;
  padding: 0;

  background: none;
  cursor: pointer;
}

#toggleMenuIcon {
  display: block;
  width: 24px;
  height: 16px;
  position: relative;
  margin: 0 auto;

  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

#toggleMenuIcon span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: var(--color-christobel);
  border-radius: var(--border-radius-sm);
  opacity: 1;
  left: 0;

  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);

  /* Animate the icons */
  -webkit-transition: 0.15s ease-in-out;
  -moz-transition: 0.15s ease-in-out;
  -o-transition: 0.15s ease-in-out;
  transition: 0.15s ease-in-out;
}

#toggleMenuIcon:hover span {
  background-color: var(--color-lynx-white);
}

#toggleMenuIcon span:nth-child(1) {
  top: 0;
}

#toggleMenuIcon span:nth-child(2) {
  top: 50%;
}

#toggleMenuIcon span:nth-child(3) {
  top: 50%;
}

#toggleMenuIcon span:nth-child(4) {
  top: 100%;
}

#toggleMenuIcon.open span:nth-child(1) {
  top: 50%;
  width: 0%;
  left: 50%;
}

#toggleMenuIcon.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#toggleMenuIcon.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#toggleMenuIcon.open span:nth-child(4) {
  top: 50%;
  width: 0%;
  left: 50%;
}

/* Medium Screen & Larger */
@media only screen and (min-width: 768px) {
  .toggleMenuBtn {
    display: none;
  }
}
