.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 100%;
  gap: 32px;
}

/* .inputField fieldset {
  border-color: #51423b;
  border-radius: 16px;
}

.inputField label {
  color: #51423b;
} */

/* Medium Screen */
@media only screen and (min-width: 600px) and (max-width: 1135px) {
  .formContainer {
    width: 70%;
  }
}

/* Small Screen - Mobile */
@media only screen and (min-width: 320px) and (max-width: 599px) {
  .formContainer {
    width: 100%;
  }
}
