.navBarContainer {
  padding: var(--space-x-big) 0;

  color: var(--color-christobel);
  background-color: var(--color-oxford-brown);
}

/* Medium Screen & Larger */
@media only screen and (min-width: 768px) {
  .navBarMenu {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: var(--space-xxx-big);
  }
}

/* Small Screen & Some of the Medium Screen */
@media only screen and (min-width: 320px) and (max-width: 767px) {
  .navBarMenu {
    display: none;
  }

  .navBarMenuMobile {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--space-xx-big);
    width: 100%;
  }

  .navBarItem {
    width: 100%;
    box-sizing: border-box;
  }
}
