.testimonialContainer {
  box-sizing: border-box;

  /* Disable user select */
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--space-x-big);
  padding: var(--space-xx-big);

  border-radius: var(--border-radius-sm);
  box-shadow: var(--shadow-md);

  width: 50vw;
  height: auto;
}

/* Medium Screen */
@media only screen and (min-width: 600px) and (max-width: 1135px) {
  .testimonialContainer {
    padding: var(--space-md);
    width: 80%;
  }
}

/* Small Screen - Mobile */
@media only screen and (min-width: 320px) and (max-width: 599px) {
  .testimonialContainer {
    padding: var(--space-md);
    width: 100%;
  }
}
